ion-list{
    padding: 0;
    --ion-item-background: transparent;
}

.registroCategorias{
    --ion-item-background: transparent;
    --color: black;
}

.logoLiber{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding: 0;
    background-color: #e7e7de;
}

h1{
    color: black;
    font-size: 15px;
    align-items: center;
}

h2{
    color: black;
    font-size: 13px;
}