  <div class="logoLiber">
    <img class="imagemL" src="../../assets/imagens/logoo.png" alt="logo">
  </div>

<ion-content>
  <div class="ion-padding">

    <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)"> 
      <ion-list>
        <h1>CRIE SUA CONTA</h1>
        <h2>Informações básicas</h2>
        <ion-item class="registroCategorias" lines="none">
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item class="registroCategorias" lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="registroCategorias" lines="none">
          <ion-label position="floating">Telefone</ion-label>
          <ion-input type="text" name="phone" formControlName="phone" [brmasker]="{phone: true}"></ion-input>
        </ion-item>

        <ion-item class="registroCategorias" lines="none">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <h2>Endereço</h2>
        <ion-item class="registroCategorias" lines="none">
          <ion-label position="floating">Rua/número</ion-label>
          <ion-input type="text" formControlName="adress"></ion-input>
        </ion-item>

        <ion-item class="registroCategorias" lines="none">
          <ion-label position="floating">CEP</ion-label>
          <ion-input type="text" formControlName="zipcode" placeholder="00000-000"></ion-input>
        </ion-item>

      </ion-list>

      <ion-row class="ion-justify-content-center">
        <ion-button type="submit" color="primary" shape="round" [disabled]="registerForm.invalid">Cadastrar</ion-button>
      </ion-row>

    </form>

  </div>



</ion-content>
