ion-content{
    width: 100vw;
}

ion-toolbar{
    --background: #008891;
}

ion-list{
    padding: 0;
    --ion-item-background: transparent;
}

.livroCategorias{
    --ion-item-background: transparent;
    color: black;
}

ion-label{
    color: black;
}

h1{
    color: black;
    font-size: 15px;
}