<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-icon slot="start" name="cart"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div class="logoLiber">
    <img src="../../assets/imagens/logo2.png" alt="logo">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <form [formGroup]="bookRegisterForm" (ngSubmit)="submitForm(bookRegisterForm)"> 
      <ion-list>
        <h1>CADASTRE SEU LIVRO</h1>
        <ion-item class="livroCategorias" lines="none">
          <ion-label position="floating">Título</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>

        <ion-item class="livroCategorias" lines="none">
          <ion-label position="floating">Autor</ion-label>
          <ion-input type="text" formControlName="author"></ion-input>
        </ion-item>

        <ion-item class="livroCategorias" lines="none">
          <ion-label position="floating">Editora</ion-label>
          <ion-input type="text" formControlName="publisher"></ion-input>
        </ion-item>

        <ion-item class="livroCategorias" lines="none">
          <ion-label position="floating">Sinopse</ion-label>
          <ion-input type="text" formControlName="resume"></ion-input>
        </ion-item>

        <ion-radio-group formControlName="condition">
          <ion-list-header>
            <ion-label>Condição:</ion-label>
          </ion-list-header>

          <ion-item class="livroCategorias" lines="none">
            <ion-label>Usado</ion-label>
            <ion-radio slot="start" value="usado"></ion-radio>
          </ion-item>

          <ion-item class="livroCategorias" lines="none">
            <ion-label>Novo</ion-label>
            <ion-radio slot="start" value="novo"></ion-radio>
          </ion-item>

          <ion-item class="livroCategorias" lines="none">
            <ion-label>Seminovo</ion-label>
            <ion-radio slot="start" value="seminovo"></ion-radio>
          </ion-item>

        </ion-radio-group>

        <ion-item class="livroCategorias" lines="none">
          <ion-label position="floating">Volumes</ion-label>
          <ion-input type="text" formControlName="volume"></ion-input>
        </ion-item>

        <ion-item class="livroCategorias" lines="none">
          <ion-label position="floating">Preço</ion-label>
          <ion-input type="text" name="money" formControlName="price" placeholder="(R$)" [brmasker]="{money: true}"></ion-input>
        </ion-item>

      </ion-list>

      <ion-row class="ion-justify-content-center">
        <ion-button type="submit" color="primary" shape="round">Cadastrar</ion-button>
      </ion-row>

    </form>

  </div>



</ion-content>
