<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-icon slot="start" name="cart"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div class="logoLiber">
    <img src="../../assets/imagens/logo2.png" alt="logo">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="searchbar2">
  <ion-searchbar class="searchbar"
  placeholder="Encontre seu livro"
  ></ion-searchbar>
  </div>

  <div class="chipCategorias">
  <ion-chip outline color="primary"> 
    <ion-label>Novos</ion-label>
  </ion-chip>
  <ion-chip outline color="primary">
    <ion-label>Usados</ion-label>
  </ion-chip>
  <ion-chip outline color="primary">
    <ion-label>Seminovos</ion-label>
  </ion-chip>
  </div>


  <div class="livrosBox">
    <ion-slides>
      <ion-slide *ngFor="let livro of livros">
        <ion-grid>
          <ion-row>
            <ion-col class="poster-col">
              <img src="{{livro.photo}}" alt="livro imagem">
              <h4>{{livro.title}}</h4>
              <h1>{{livro.price}}</h1>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>





<div class="slideslivros">
  <div class="backgroundCategorias">
    <h2>MAIS VENDIDOS</h2>
  </div>

  <app-livro (click)="redirecionar()" [livros]="livros2"></app-livro>

</div>

<div class="slidesLivros">
  <div class="backgroundCategorias">
  <h2>MAIS POPULARES</h2>
  </div>

  <app-livro (click)="redirecionar()" [livros]="livros3"></app-livro>

</div>


<div class="slidesLivros">
  <div class="backgroundCategorias">
  <h2>HQS POPULARES</h2>
  </div>

  <app-livro (click)="redirecionar()" [livros]="livros4"></app-livro>
  
</div>

<div class="slidesLivros">
  <div class="backgroundCategorias">
  <h2>INDICAÇÕES LIBER</h2>
  </div>
  
  <app-livro (click)="redirecionar()" [livros]="livros5"></app-livro>

</div>



<div id=alinharPagamento>
  <h5>Meios de pagamento</h5>
  <div class=meiosPagamento>
    <ion-row class="iconsPagamento">
      <ion-col size="1">
        <img src="../../assets/imagens/pay1.png" alt="mastercard">
      </ion-col>
      <ion-col size="1">
        <img src="../../assets/imagens/pay2.png" alt="visa">
      </ion-col>
      <ion-col size="1">
        <img src="../../assets/imagens/pay3.png" alt="paypal">
      </ion-col>
      <ion-col size="1">
        <img src="../../assets/imagens/pay4.png" alt="boleto">
      </ion-col>
    </ion-row>
  </div>
</div>


  <ion-row>
    <ion-col class="iconsAtendimento">
      <ion-icon name="chatbox-ellipses"></ion-icon>
      <h6>Central de atendimento</h6>
    </ion-col>
    <ion-col class="iconsAtendimento">
      <ion-icon name="sync"></ion-icon>
      <h6>Trocas e devoluções</h6>
    </ion-col>
  </ion-row>
  

</ion-content>