ion-content{
  width: 100vw;
}

ion-toolbar{
  --background: #008891;
}

ion-buttons{
  color: #0F3057;
}

h1{
  color: white;
  font-size: 15px;
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  margin-top: 1px;
  text-align: center;
  color: black;
  font-size: 12px;
}

h4{
  background-color: #008891;
  margin-top: -12px;
}

h5{
  color: black;
  text-align: center;
  font-size: 12px;
}

h6{
  color: black;
  font-size: 8px;
  text-align: center;
  font-size: 10px;
}

.pagamentos{
  align-items: center;
}


.livrosBox{
  background-color: #008891;
  align-items: center;
}

.poster-col{
  size:12;
}


.backgroundCategorias h2{
  background-color: #00587a;
  text-align: center;
  justify-content: center;
  height: 4vh;
  padding: 1.5%;
}

.backgroundCategorias{
  align-items: center;
}

#alinharPagamento {
  display:flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.meiosPagamento{
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 0%;
}

.iconsPagamento{
  width: 100%;
  display:flex;
  justify-content: center; 
  align-items: center;
}

.iconsAtendimento{
  color: black;
  width: 100%;
  display:flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.searchbar{
  background-color: #0F3057;
  width: 70%;
  margin-bottom: 10%;
  margin-top: 5%;
  border-radius: 15px;
  --border-radius: 15px;
  --icon-color: black;
  --placeholder-color: black;
}

.searchbar2{
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.imagemLivros{
  width: 70vw;
  height: 16vh;
}

.chipCategorias{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: -8%;
}


.imagemCard{
  display: flex;
  justify-content: left;
}

.cardColor{
  background-color: cadetblue;
  color: black;
}

h2{
  text-align: left;
}


.alinharBotao{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.autorColor{
  color: black;
}

