<ion-slides class="slides" [options]="slideOpts">

  <ion-slide class="slide" *ngFor="let livro of livros">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <img class="card-image" src="{{livro.photo}}">
            </ion-card-header>
            <ion-card-subtitle class="book-name">{{livro.title}}</ion-card-subtitle>
            <ion-card-title>{{livro.price}}</ion-card-title>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  
</ion-slides>