
.slides{
    margin-left: 2%;
  }
  
.slide{
    display: flex;
    justify-content: space-between;
  }
  
    ion-card{
    min-height: 244px;
    max-height: 244px;
    min-width: 112px;
    max-width: 112px;
    margin: 0.5%;
    background-color: transparent;
  
      ion-card-header{
        padding: 0;
  
        img{
          min-height: 150px;
          max-height: 150px;
          min-width: 112px;
          max-width: 112px;
        }
      }
  
      ion-card-subtitle{
        --color: black;
        font-size: 0.85em;
        margin: 0 4% 2% 4%;
      }
  
      ion-card-title{
        --color: #0F3057;
        font-size: 1.2em;
        margin: 4% 0 4% 0;
      }
    }
    