ion-list{
    padding: 0;
    --ion-item-background: transparent;
}

.loginCategorias{
    --ion-item-background: transparent;
    color: black;
}

.logoLiber{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    background-color: #e7e7de;
}