<div class="logoLiber">
  <img class="imagemL" src="../../assets/imagens/logoo.png" alt="logo">
</div>

<ion-content>
  <div class="ion-padding">

    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)"> 
      <ion-list>

        <ion-item class="loginCategorias" lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="loginCategorias" lines="none">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

      </ion-list>

      <ion-row class="ion-justify-content-center">
        <ion-button type="submit" color="primary" shape="round" [disabled]="loginForm.invalid">Login</ion-button>
      </ion-row>

    </form>
  </div>

</ion-content>
