ion-toolbar{
    --background: #008891;
  }


.tituloSub h1{
    background-color: #00587a;
    text-align: start;
    text-transform: uppercase;
    height: 5vh;
    padding: 3px;
    margin-left: 20px;

}

.tituloSub h2{
    background-color: #00587a;
    text-align: start;
    height: 4vh;
    margin-top: -12px;
    margin-left: 20px;
}

h3{
    color: black;
    margin-left: 20px;
}

h4{
    background-color: #008891;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20;
}

.imagemLivro{
    margin-left: 20px;
}


.botaoLivro{
    margin-left: 20px;
}