<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-icon slot="start" name="cart"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div class="logoLiber">
    <img src="../../assets/imagens/logo2.png" alt="logo">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="tituloSub">
    <h1>Torto Arado</h1>
    <h2>Itamar Vieira Junior</h2>
  </div>

  <img class="imagemLivro" src="../../assets/imagens/livro1.png" alt="livro torto arado">

  <h3>R$35.00</h3>

  <div class="botaoLivro">
    <ion-button type="submit" color="primary" shape="round" >Adicionar ao carrinho</ion-button>
  </div>
  
  <h3>Descrição e características</h3>
  <h4>Nas profundezas do sertão baiano, as irmãs Bibiana e Belonísia encontram uma velha e misteriosa faca na mala guardada sob a cama da avó. Ocorre então um acidente. E para sempre suas vidas estarão ligadas ― a ponto de uma precisar ser a voz da outra. Numa trama conduzida com maestria e com uma prosa melodiosa, o romance conta uma história de vida e morte, de combate e redenção.
  <br>
  <br>
  Editora: Todavia
  <br>
  Condição: Usado
  <br>
  Volumes: 1 volume
  </h4>



</ion-content>
